@charset "UTF-8";
/*Estilos para la pagina principal.*/
.mainCatalogo {
  grid-area: mainCatalogo;
  justify-self: center;
  align-items: center;
  font-size: 1.5rem; }

.principal {
  display: grid;
  flex-direction: column;
  align-items: start; }

.titulo {
  font-size: 3rem; }

.titulo, .subtitulo {
  padding: 0 0 2rem 1rem;
  color: #bd4e93;
  align-self: center;
  text-align: center; }

.introduccion {
  padding: 0 1rem;
  font-style: italic; }

.frenteLocal {
  border: 0.5rem solid #bd4e93;
  border-radius: 2rem;
  margin: 2rem;
  width: 500px; }
  @media screen and (max-width: 850px) {
    .frenteLocal {
      width: 300px; } }

.carrusel {
  z-index: -1;
  width: 70%; }
  @media screen and (max-width: 850px) {
    .carrusel {
      /*Responsive del carrusel del index con las imagenes del local*/
      width: 100%;
      text-align: center; } }

.cta {
  background-color: #f2f2f2;
  padding: 3rem;
  border: 0.2rem solid #bd4e93;
  border-radius: 1rem;
  grid-area: "cta"; }
  .cta h3 {
    color: black; }
  .cta p {
    font-style: italic;
    color: black; }
  .cta button {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center; }

@media screen and (max-width: 850px) {
  main section {
    flex-direction: column; } }

.fotoMain {
  width: 400px;
  border: 0.2rem solid #bd4e93;
  border-radius: 1rem;
  transition: all 1s;
  margin: 2rem; }
  .fotoMain img {
    width: 300px; }
  .fotoMain:hover {
    transform: scale(1.1, 1.2); }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-areas: "mainCatalogo mainCatalogo" "img1 cta" "img2 img3"; }
  @media screen and (max-width: 850px) {
    .container {
      /*Responsive de la seccion catalogo del index*/
      grid-template-columns: 1fr;
      grid-template-rows: 0.25fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      grid-auto-flow: row;
      grid-template-areas: "mainCatalogo" "img1" "img2" "img3" "cta"; } }

/*Estilos para el header, la barra de navegación.*/
header {
  position: sticky;
  top: 0;
  border-bottom: 2px #bd4e93 solid;
  background-color: #f2f2f2; }
  header a {
    margin-left: 1rem; }

.logoNav {
  width: 100px;
  mix-blend-mode: darken; }

nav a {
  font-family: 'Sriracha', cursive;
  color: #bd4e93; }

/*Elimando los estilos para las listas.*/
ul {
  list-style: none; }
  ul li {
    padding: 2rem; }

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 850px) {
    .botonera {
      flex-direction: column;
      padding: 0.5rem; } }

.activa {
  text-decoration: underline #bd4e93 0.2rem; }

.botonRegistro {
  align-self: flex-end; }

.botonNav :hover {
  border: 2px solid #bd4e93;
  padding: 1rem;
  border-radius: 20px;
  color: black; }

/*Seccion de filtro*/
.tFiltro {
  align-self: center;
  color: #bd4e93; }

.filtro {
  padding: 0.5rem;
  margin: 5px;
  border: 2px solid #bd4e93;
  border-radius: 1rem;
  grid-area: filtro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media screen and (max-width: 850px) {
    .filtro {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch; } }

.formFiltro {
  display: flex;
  flex-direction: column;
  justify-items: center; }

.formFiltro input, .formFiltro select {
  margin: 5px;
  padding: 5px; }

/* Seccion catalogo */
.fCatalogo {
  width: 300px;
  border: 0.2rem solid #bd4e93;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor {
  /*Grid general para la seccion del catalogo*/
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
  grid-template-areas: "tCatalogo tCatalogo" "filtro catalogo" "filtro catalogo";
  margin-bottom: 0.5rem; }
  @media screen and (max-width: 850px) {
    .contenedor {
      /*Responsive de la seccion del catalogo*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.tCatalogo {
  grid-area: tCatalogo;
  justify-self: center;
  color: #bd4e93;
  text-decoration: underline; }

.catalogo {
  /*Grid especifico para la seccion de las imagenes del catalogo*/
  grid-area: catalogo;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.25fr;
  gap: 5px;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "numPaginas numPaginas numPaginas"; }
  @media screen and (max-width: 850px) {
    .catalogo {
      /*Responsive de las imagenes del catalogo*/
      margin-left: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
      align-items: center;
      justify-content: center;
      grid-auto-flow: row;
      grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "numPaginas"; } }

.numPaginas {
  /*Estilo para la numeracion de las paginas*/
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: numPaginas; }
  .numPaginas li {
    border: 1px solid #bd4e93;
    border-radius: 1rem;
    padding: 1rem; }
  @media screen and (max-width: 850px) {
    .numPaginas {
      padding: 0;
      justify-content: start; } }

.linkCatalogo {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem; }

/* Estilos para los formularios en general, de registro y contacto.*/
address,
.formularioContacto {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  justify-items: center;
  border: 0.4rem solid #bd4e93;
  border-radius: 1rem; }

@media screen and (max-width: 850px) {
  .formularioContacto {
    width: 70%; } }

.registro {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  justify-items: center; }
  .registro select, .registro input {
    margin: 0.5rem;
    padding: 0.3rem; }

.contacto {
  margin: 2rem;
  align-items: start; }
  @media screen and (max-width: 850px) {
    .contacto {
      margin: 0; } }

/*Estilo para el boton submit Enviar*/
.enviar {
  background-color: #bd4e93;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem; }

/*Estilo para el footer*/
footer {
  margin: 0 1rem;
  border-top: solid 1px gray; }

.notFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem; }
  .notFound button {
    width: 100%; }
  .notFound img {
    width: 50%; }

/*Configuraciones generales que se aplican en todas las paginas.*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

h1, h2 {
  text-align: center;
  text-decoration: underline;
  color: #bd4e93; }

section,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

div a {
  text-decoration: none;
  padding-right: 1rem; }

h1,
h2,
h3,
a,
p,
label,
span,
select,
.mainCatalogo {
  font-family: 'Sriracha', cursive;
  color: #bd4e93; }

iframe {
  width: 25rem;
  height: 25rem; }

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 5rem; }
  @media screen and (max-width: 850px) {
    .mapa {
      padding: 0;
      margin: 0; }
      .mapa p {
        margin: 0.5rem; }
        .mapa p i {
          max-width: 3rem; } }

i {
  padding: 1rem;
  color: #bd4e93; }

.puntuacion {
  display: flex;
  flex-direction: row; }
