/* Estilos para los formularios en general, de registro y contacto.*/
address,
.formularioContacto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    justify-items: center;
    border: 0.4rem solid #bd4e93;
    border-radius: 1rem;
}
.formularioContacto {
    @media screen and (max-width: 850px){
        width: 70%;
    }
}
.registro{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    justify-items: center;
    select, input {
        margin: 0.5rem;
        padding: 0.3rem;

    }
}

.contacto {
    margin: 2rem;
    align-items: start;
    @media screen and (max-width: 850px) {
        margin: 0;
    }
}
/*Estilo para el boton submit Enviar*/
.enviar {
    background-color: #bd4e93;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
}
