/*Estilos para la pagina principal.*/
.mainCatalogo {
    grid-area: mainCatalogo;
    justify-self: center;
    align-items: center;
    font-size: 1.5rem;
}

.principal {  
    display: grid;
    flex-direction: column;
    align-items: start;
}

.titulo {
    font-size: 3rem;
}

.titulo, .subtitulo {
    padding: 0 0 2rem 1rem;
    color: $color-principal;
    align-self: center;
    text-align: center;
}

.introduccion {
    padding: 0 1rem;
    font-style: italic;
}

.frenteLocal {
    border: 0.5rem solid $color-principal;
    border-radius: 2rem;
    margin: 2rem;
    width: 500px;
    @media screen and (max-width: 850px) {
        width: 300px;
    }
}

.carrusel {
    z-index: -1;
    width: 70%;    
    @media screen and (max-width: 850px) {
        /*Responsive del carrusel del index con las imagenes del local*/
        width: 100%;
        text-align: center;
    }
}
.cta {
    background-color: #f2f2f2;
    padding: 3rem;
    border: 0.2rem solid $color-principal;
    border-radius: 1rem;
    grid-area: "cta";
    h3 {
        color: black;
    }
    p {
        font-style: italic;
        color: black;
    }
    button {
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
    };
}

main {
    section{
        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
    }
}
.fotoMain {
    width: 400px;
    border: 0.2rem solid $color-principal;
    border-radius: 1rem;
    transition: all 1s;
    margin: 2rem;
    img {
        width: 300px;
    }
    &:hover {
        transform: scale(1.1, 1.2);
    }
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    grid-template-areas:
      "mainCatalogo mainCatalogo"
      "img1 cta"
      "img2 img3";
    
    @media screen and (max-width: 850px) {
        /*Responsive de la seccion catalogo del index*/
      grid-template-columns: 1fr;
      grid-template-rows: 0.25fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      grid-auto-flow: row;
      grid-template-areas:
          "mainCatalogo"
          "img1"
          "img2"
          "img3"
          "cta";
    }
}
